/* resize */
/* table */
.webuploader-container {
  position: relative; }
  .webuploader-container input {
    opacity: 0;
    filter: alpha(opacity=0); }

.form-ctrl {
  margin-bottom: 12px; }
  .form-ctrl .form-ctrl-label {
    padding-bottom: 5px;
    min-height: 1px;
    font-size: 12px; }
  .form-ctrl .form-comp-wrap {
    font-size: 12px; }
    .form-ctrl .form-comp-wrap .msg-info {
      color: #999;
      margin: 3px 2px 0; }

.input-group-wrap {
  display: table; }
  .input-group-wrap .group-bar, .input-group-wrap .ui-input-wrap {
    display: table-cell; }
  .input-group-wrap .ui-input-wrap {
    width: 100%;
    vertical-align: middle; }
    .input-group-wrap .ui-input-wrap .ui-input, .input-group-wrap .ui-input-wrap .ui-drop-wrap .ui-input-box, .ui-drop-wrap .input-group-wrap .ui-input-wrap .ui-input-box, .input-group-wrap .ui-input-wrap .ui-time-input-wrap .ui-input-box, .ui-time-input-wrap .input-group-wrap .ui-input-wrap .ui-input-box, .input-group-wrap .ui-input-wrap .ui-time-input-wrap .ui-time-input, .ui-time-input-wrap .input-group-wrap .ui-input-wrap .ui-time-input, .input-group-wrap .ui-input-wrap .ui-textarea {
      min-height: 31px;
      border-radius: 0; }
  .input-group-wrap .ui-input-wrap:first-child .ui-input, .input-group-wrap .ui-input-wrap:first-child .ui-drop-wrap .ui-input-box, .ui-drop-wrap .input-group-wrap .ui-input-wrap:first-child .ui-input-box, .input-group-wrap .ui-input-wrap:first-child .ui-time-input-wrap .ui-input-box, .ui-time-input-wrap .input-group-wrap .ui-input-wrap:first-child .ui-input-box, .input-group-wrap .ui-input-wrap:first-child .ui-time-input-wrap .ui-time-input, .ui-time-input-wrap .input-group-wrap .ui-input-wrap:first-child .ui-time-input, .input-group-wrap .ui-input-wrap:first-child .ui-textarea {
    border-radius: 7px  0 0 7px; }
  .input-group-wrap .group-bar:first-child .btn {
    border-radius: 7px  0 0 7px; }
  .input-group-wrap .ui-input-wrap:last-child .ui-input, .input-group-wrap .ui-input-wrap:last-child .ui-drop-wrap .ui-input-box, .ui-drop-wrap .input-group-wrap .ui-input-wrap:last-child .ui-input-box, .input-group-wrap .ui-input-wrap:last-child .ui-time-input-wrap .ui-input-box, .ui-time-input-wrap .input-group-wrap .ui-input-wrap:last-child .ui-input-box, .input-group-wrap .ui-input-wrap:last-child .ui-time-input-wrap .ui-time-input, .ui-time-input-wrap .input-group-wrap .ui-input-wrap:last-child .ui-time-input, .input-group-wrap .ui-input-wrap:last-child .ui-textarea {
    border-radius: 0 7px 7px 0; }
  .input-group-wrap .group-bar:last-child .btn, .input-group-wrap .group-bar:last-child .code-img {
    border-radius: 0 7px 7px 0; }
  .input-group-wrap .group-bar {
    white-space: nowrap;
    width: 1%;
    vertical-align: middle; }
    .input-group-wrap .group-bar .btn, .input-group-wrap .group-bar .code-img {
      min-height: 31.5px;
      border-radius: 0; }

.tag-box {
  display: inline-block;
  padding: 1px 5px;
  margin: 0 5px 5px 0;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #03a9f4;
  color: #03a9f4; }
  .tag-box .tag-txt .iconfont {
    position: static !important;
    font-size: 12px; }
  .tag-box.gray-tag {
    background: #ddd;
    border: 1px solid #ddd;
    color: #333333; }
  .tag-box.selected {
    background: #03a9f4;
    color: #fff; }

.ui-input-wrap {
  position: relative; }
  .ui-input-wrap .icon-cuowu {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #03a9f4;
    cursor: pointer; }

.ui-input, .ui-drop-wrap .ui-input-box, .ui-time-input-wrap .ui-input-box, .ui-time-input-wrap .ui-time-input, .ui-textarea {
  font-size: 12px;
  padding: 6px 22px 6px 10px;
  border-radius: 7px;
  color: #666;
  border: 1px solid #ddd;
  background-color: #fff;
  display: block;
  width: 100%; }
  .ui-input.disabled, .ui-drop-wrap .disabled.ui-input-box, .ui-time-input-wrap .disabled.ui-input-box, .ui-time-input-wrap .disabled.ui-time-input, .disabled.ui-textarea {
    background: #f5f5f5;
    cursor: not-allowed; }
  .ui-input:focus, .ui-drop-wrap .ui-input-box:focus, .ui-time-input-wrap .ui-input-box:focus, .ui-time-input-wrap .ui-time-input:focus, .ui-textarea:focus {
    box-shadow: 0 0 2px rgba(3, 169, 244, 0.8);
    outline: none; }

.ui-setContBox {
  max-width: 320px;
  min-height: 468px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 10px; }
  .ui-setContBox .img-box .img-item-a {
    display: block;
    line-height: 0; }
    .ui-setContBox .img-box .img-item-a img {
      max-width: 100%; }
  .ui-setContBox .text-box {
    line-height: 2; }
  .ui-setContBox .text-item {
    word-break: break-all; }
  .ui-setContBox .item-box {
    position: relative;
    margin: 0 0 5px; }
    .ui-setContBox .item-box:hover .edit_mask {
      display: block; }
  .ui-setContBox .edit_mask {
    position: absolute;
    min-height: 30px;
    z-index: 11;
    width: 100%;
    height: 100%;
    background: rgba(229, 229, 229, 0.85) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d9e5e5e5',endcolorstr = '#d9e5e5e5');
    text-align: center;
    display: none;
    top: 0;
    left: 0; }
    .ui-setContBox .edit_mask .vm_box {
      width: 0;
      height: 100%;
      vertical-align: middle;
      display: inline-block; }
    .ui-setContBox .edit_mask .iconfont {
      vertical-align: middle;
      display: inline-block;
      margin: 5px 10px;
      font-size: 24px;
      line-height: 1;
      color: #999; }
  .ui-setContBox .addBtnBox {
    border: 1px dashed #ccc;
    height: 80px;
    text-align: center; }
    .ui-setContBox .addBtnBox .jia-btn {
      font-size: 40px;
      font-weight: bolder;
      line-height: 70px;
      color: #ddd; }
    .ui-setContBox .addBtnBox .item-btn-box .item-btn {
      height: 80px;
      display: inline-block;
      width: 80px;
      color: #999;
      cursor: pointer;
      margin: 0 20px; }
      .ui-setContBox .addBtnBox .item-btn-box .item-btn:hover {
        color: #03a9f4; }
      .ui-setContBox .addBtnBox .item-btn-box .item-btn .iconfont {
        padding-top: 10px;
        display: block;
        font-size: 40px;
        line-height: 1;
        text-align: center; }

.ui-drop-wrap, .ui-time-input-wrap {
  position: relative;
  overflow: hidden; }
  .ui-drop-wrap .footer-btn-box, .ui-time-input-wrap .footer-btn-box {
    margin: 10px; }
    .ui-drop-wrap .footer-btn-box .footer-btn, .ui-time-input-wrap .footer-btn-box .footer-btn {
      display: block;
      font-size: 12px; }
  .ui-drop-wrap.openStyle .ui-input-box, .openStyle.ui-time-input-wrap .ui-input-box, .ui-drop-wrap.openStyle .ui-time-input-wrap .ui-time-input, .ui-time-input-wrap .ui-drop-wrap.openStyle .ui-time-input, .openStyle.ui-time-input-wrap .ui-time-input {
    border-radius: 5px 5px 0 0; }
  .ui-drop-wrap.openStyle .ui-drop-box, .openStyle.ui-time-input-wrap .ui-drop-box {
    position: static;
    border-radius: 0 0 5px 5px;
    margin-top: -1px; }
  .ui-drop-wrap.openUp, .openUp.ui-time-input-wrap {
    overflow: visible; }
    .ui-drop-wrap.openUp .ui-input-box, .openUp.ui-time-input-wrap .ui-input-box, .ui-drop-wrap.openUp .ui-time-input-wrap .ui-time-input, .ui-time-input-wrap .ui-drop-wrap.openUp .ui-time-input, .openUp.ui-time-input-wrap .ui-time-input {
      border-radius: 0 0 10px 10px; }
    .ui-drop-wrap.openUp .ui-drop-box, .openUp.ui-time-input-wrap .ui-drop-box {
      top: auto;
      display: block;
      border-radius: 10px 10px 0 0;
      bottom: 100%;
      box-shadow: 0 -rem(6) 12px rgba(0, 0, 0, 0.175); }
  .ui-drop-wrap.openDown, .openDown.ui-time-input-wrap {
    overflow: visible; }
    .ui-drop-wrap.openDown .ui-input-box, .openDown.ui-time-input-wrap .ui-input-box, .ui-drop-wrap.openDown .ui-time-input-wrap .ui-time-input, .ui-time-input-wrap .ui-drop-wrap.openDown .ui-time-input, .openDown.ui-time-input-wrap .ui-time-input {
      border-radius: 10px 10px 0 0; }
    .ui-drop-wrap.openDown .ui-drop-box, .openDown.ui-time-input-wrap .ui-drop-box {
      border-radius: 0 0 10px 10px;
      display: block;
      bottom: auto;
      top: 100%;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
  .ui-drop-wrap .ui-input-box, .ui-time-input-wrap .ui-input-box, .ui-time-input-wrap .ui-time-input {
    cursor: pointer;
    position: relative; }
    .ui-drop-wrap .ui-input-box .iconfont, .ui-time-input-wrap .ui-input-box .iconfont, .ui-time-input-wrap .ui-time-input .iconfont {
      position: absolute;
      right: 8px;
      top: 4px;
      color: #999; }
  .ui-drop-wrap .ui-drop-box, .ui-time-input-wrap .ui-drop-box {
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    top: 200px;
    min-width: 260px;
    overflow: hidden;
    max-height: 310px;
    z-index: 111;
    border: 1px solid #eee; }
    .ui-drop-wrap .ui-drop-box .input-group-wrap, .ui-time-input-wrap .ui-drop-box .input-group-wrap {
      margin: 10px; }
    .ui-drop-wrap .ui-drop-box .search-box, .ui-time-input-wrap .ui-drop-box .search-box {
      margin: 10px 10px 0; }
    .ui-drop-wrap .ui-drop-box .ui-drop-ul, .ui-time-input-wrap .ui-drop-box .ui-drop-ul {
      max-height: 220px;
      overflow-y: auto;
      padding: 10px; }
      .ui-drop-wrap .ui-drop-box .ui-drop-ul .select-row, .ui-time-input-wrap .ui-drop-box .ui-drop-ul .select-row {
        line-height: 1.5;
        padding: 5px 25px 5px 5px;
        margin: 0 0 1px;
        cursor: pointer; }
        .ui-drop-wrap .ui-drop-box .ui-drop-ul .select-row.selected, .ui-time-input-wrap .ui-drop-box .ui-drop-ul .select-row.selected {
          background: #eaeaea; }
          .ui-drop-wrap .ui-drop-box .ui-drop-ul .select-row.selected .iconfont, .ui-time-input-wrap .ui-drop-box .ui-drop-ul .select-row.selected .iconfont {
            color: #03a9f4; }
        .ui-drop-wrap .ui-drop-box .ui-drop-ul .select-row:hover, .ui-time-input-wrap .ui-drop-box .ui-drop-ul .select-row:hover {
          background: #c5ecfe; }
        .ui-drop-wrap .ui-drop-box .ui-drop-ul .select-row .iconfont, .ui-time-input-wrap .ui-drop-box .ui-drop-ul .select-row .iconfont {
          float: right;
          margin: 1px -rem(20) 0 0;
          line-height: 1; }

.ui-textarea {
  overflow: hidden; }
  .ui-textarea.scroll {
    overflow: auto; }

.group-row {
  padding: 10px;
  border-radius: 5px;
  margin: 0 0 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); }
  .group-row .group-tit {
    padding: 0 0 10px;
    color: #999; }
  .group-row .group-successed-item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 10px 0 0;
    text-align: center;
    position: relative; }
    .group-row .group-successed-item .close-icon {
      position: absolute;
      right: -10px;
      top: -10px;
      color: #fa0;
      z-index: 15;
      font-size: 18px;
      font-size: 22px;
      line-height: 1;
      background: #fff;
      border-radius: 100%; }
    .group-row .group-successed-item .file-item {
      width: 70px;
      padding: 0; }

.file-item {
  width: 76px;
  padding: 0 5px 5px 0;
  height: 100px;
  display: inline-block;
  text-align: center; }
  .file-item .moxie-shim {
    z-index: 16; }
  .file-item.comp .moxie-shim {
    width: 25px !important;
    height: 25px !important;
    right: 8px !important;
    top: 24px !important;
    z-index: 16;
    left: auto !important; }
  .file-item.comp .iconfont {
    display: none !important; }
  .file-item.comp .success-box {
    display: block !important; }
    .file-item.comp .success-box .iconfont {
      display: inline-block !important;
      color: #fff;
      font-size: 22px;
      margin: 0 3px;
      cursor: pointer; }
  .file-item .item-in {
    width: 70px;
    height: 70px;
    line-height: 75px;
    position: relative;
    border: 1px solid #eee;
    border-radius: 5px;
    overflow: hidden; }
    .file-item .item-in .img-show {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0; }
      .file-item .item-in .img-show img {
        width: 80px;
        height: 80px; }
    .file-item .item-in .success-box {
      display: none; }
    .file-item .item-in .iconfont {
      font-size: 40px;
      color: #eee;
      display: block;
      position: relative;
      z-index: 15;
      cursor: pointer; }
      .file-item .item-in .iconfont:hover {
        color: #eee !important; }
    .file-item .item-in .item-bg {
      background: #000;
      position: absolute;
      width: 80px;
      height: 80px;
      top: 80px;
      left: 0;
      opacity: 0.3;
      z-index: 2;
      filter: alpha(opacity=30); }
  .file-item .file-name {
    color: #666;
    padding: 4px 0;
    word-break: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }

.ui-check-wrap .ui-check.inline .check-row {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 5px 5px 0;
  padding: 4px; }
.ui-check-wrap .ui-check.inline .check-btn-row {
  display: inline-block;
  *display: inline;
  *zoom: 1; }
.ui-check-wrap .check-btn-row {
  padding: 5px 8px;
  border: 1px solid #ddd;
  cursor: pointer;
  margin-top: -1px;
  margin-right: -1px; }
  .ui-check-wrap .check-btn-row.disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: not-allowed; }
  .ui-check-wrap .check-btn-row.checked {
    border: 1px solid #03a9f4;
    position: relative;
    color: #03a9f4;
    z-index: 2; }
.ui-check-wrap .check-row {
  margin: 0 0 5px;
  cursor: pointer;
  line-height: 18px;
  padding: 2px 0;
  color: #999; }
  .ui-check-wrap .check-row.disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: not-allowed; }
    .ui-check-wrap .check-row.disabled.checked .iconfont {
      color: #999; }
  .ui-check-wrap .check-row.checked .iconfont {
    color: #03a9f4; }
  .ui-check-wrap .check-row .iconfont {
    font-size: 15px;
    vertical-align: middle;
    margin: 0 5px 0 0; }
  .ui-check-wrap .check-row .check-txt {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle; }

.ui-cascader-group .cascader-box {
  margin-bottom: 10px; }

.val-tab {
  display: inline-block;
  border: 1px solid #eee;
  margin: 0 0 10px 10px; }
  .val-tab .val-btn {
    height: 24px;
    line-height: 22px;
    text-align: center;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-size: 22px;
    font-weight: 200;
    color: #888;
    background: #f1f1f1;
    background: -moz-linear-gradient(top, #fff, #f1f1f1);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#f1f1f1));
    background: -o-linear-gradient(top, #fff, #f1f1f1);
    background-image: linear-gradient(#fff, #f1f1f1);
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2); }
    .val-tab .val-btn:hover {
      background: #ededed;
      background: -moz-linear-gradient(top, #fbfbfb, #ededed);
      background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fbfbfb), to(#ededed));
      background: -o-linear-gradient(top, #fbfbfb, #ededed);
      background-image: linear-gradient(#fbfbfb, #ededed); }
  .val-tab .val-sel-box {
    line-height: 18px;
    font-size: 12px;
    text-align: center;
    padding: 5px 2px;
    color: #444;
    min-width: 48px; }

.time-select-wrap {
  margin-left: -10px;
  margin-right: -10px;
  zoom: 1; }
  .time-select-wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .time-select-wrap .time-select-child {
    margin: 0 10px; }

.form-sub .btn {
  display: block;
  width: 100%; }

.ui-select-filter {
  background: transparent url("../images/switch.png") no-repeat 50% 50%;
  /*  width: 370px; */ }
  .ui-select-filter:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
    min-height: 0;
    visibility: hidden; }
  .ui-select-filter .ui-selectable, .ui-select-filter .ui-selection {
    background: #fff;
    color: #555555;
    float: left;
    width: 45%; }
  .ui-select-filter .ui-selection {
    float: right; }
  .ui-select-filter .ui-list {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    height: 200px;
    padding: 0;
    overflow-y: auto; }
    .ui-select-filter .ui-list::-webkit-scrollbar {
      width: 6px; }
    .ui-select-filter .ui-list::-webkit-scrollbar-track {
      background-color: #ccc; }
    .ui-select-filter .ui-list::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 4px; }
    .ui-select-filter .ui-list::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.3); }
    .ui-select-filter .ui-list::-webkit-scrollbar-thumb:active {
      background: rgba(0, 0, 0, 0.3); }
    .ui-select-filter .ui-list.ui-focus {
      border-color: rgba(82, 168, 236, 0.8);
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      outline: 0;
      outline: thin dotted \9; }
  .ui-select-filter ul {
    margin: 0;
    list-style-type: none;
    padding: 0; }
  .ui-select-filter .ui-optgroup-container {
    width: 100%; }
  .ui-select-filter .ui-optgroup-label {
    margin: 0;
    padding: 5px 0px 0px 5px;
    cursor: pointer;
    color: #999; }
  .ui-select-filter .ui-selectable li.ui-elem-selectable, .ui-select-filter .ui-selectable li.ui-elem-selection, .ui-select-filter .ui-selection li.ui-elem-selectable, .ui-select-filter .ui-selection li.ui-elem-selection {
    border-bottom: 1px #eee solid;
    cursor: pointer;
    padding: 2px 10px;
    color: #555;
    font-size: 12px; }
  .ui-select-filter .ui-selectable li.hover, .ui-select-filter .ui-selection li.hover {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    background-color: #08c; }
  .ui-select-filter .ui-selectable li.disabled, .ui-select-filter .ui-selection li.disabled {
    background-color: #eee;
    color: #aaa;
    cursor: text; }

.form-sub-box.full {
  margin-left: auto !important;
  margin-right: auto !important; }
  .form-sub-box.full .form-sub {
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: auto !important;
    float: none !important; }

@media (min-width: 768px) {
  .ui-check {
    padding-top: 3px; }

  .form.m {
    max-width: 475px; }
  .form.l {
    max-width: 750px; }

  .ui-cascader-group {
    margin-left: -10px;
    margin-right: -10px;
    zoom: 1; }
    .ui-cascader-group:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .ui-cascader-group .cascader-box {
      padding-left: 10px;
      padding-right: 10px;
      float: left;
      width: 33.33333%; }

  .form-sub-box {
    margin-left: -10px;
    margin-right: -10px;
    zoom: 1; }
    .form-sub-box:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  .form-ver .form-sub-box {
    margin-left: 0;
    margin-right: 0;
    zoom: 1; }
    .form-ver .form-sub-box:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  .form-horiz .form-sub-box .form-sub {
    margin-left: 16.66667%;
    width: 83.33333%; }
  .form-horiz.m .form-sub-box .form-sub {
    margin-left: 25%;
    width: 75%; }

  .form-horiz.m .form-ctrl .form-ctrl-label {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 25%; }
  .form-horiz.m .form-ctrl .form-comp-wrap {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 75%; }
  .form-horiz .form-ctrl {
    margin-left: -10px;
    margin-right: -10px;
    zoom: 1; }
    .form-horiz .form-ctrl:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .form-horiz .form-ctrl .form-ctrl-label {
      padding-top: 7px;
      text-align: right;
      padding-left: 10px;
      padding-right: 10px;
      float: left;
      width: 16.66667%; }
    .form-horiz .form-ctrl .form-comp-wrap {
      padding-left: 10px;
      padding-right: 10px;
      float: left;
      width: 83.33333%; }
  .form-ver .form-ctrl {
    margin-left: 0 !important;
    margin-right: 0 !important; }
    .form-ver .form-ctrl .form-ctrl-label {
      padding-top: 0 !important;
      text-align: left !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      float: none !important;
      width: auto !important; }
    .form-ver .form-ctrl .form-comp-wrap {
      padding-left: 0 !important;
      padding-right: 0 !important;
      float: none !important;
      width: auto !important; }
  .form-inline .form-ctrl {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px; }
    .form-inline .form-ctrl .form-ctrl-label {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: middle;
      padding-left: 5px;
      padding-right: 5px; }
    .form-inline .form-ctrl .form-comp-wrap {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: middle; }
    .form-inline .form-ctrl .ui-input, .form-inline .form-ctrl .ui-drop-wrap .ui-input-box, .ui-drop-wrap .form-inline .form-ctrl .ui-input-box, .form-inline .form-ctrl .ui-time-input-wrap .ui-input-box, .ui-time-input-wrap .form-inline .form-ctrl .ui-input-box, .form-inline .form-ctrl .ui-time-input-wrap .ui-time-input, .ui-time-input-wrap .form-inline .form-ctrl .ui-time-input, .form-inline .form-ctrl .ui-textarea {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: auto;
      vertical-align: middle; } }

/*# sourceMappingURL=form.css.map */
